<!DOCTYPE html>
<html>
  <head>
    <title>PostgresRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
    <p class="notice"><%= notice %></
    <p class="alert"><%= alert %></p>  
  
  <body>
    <div class="text-right mt-3">
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' if user_signed_in? %>
        <%= 'Hi '+current_user.email %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
