
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), defaults: { input_html: { class: 'mt-3' } }) do |f| %>
  <div class="offset-3 col-6">
      
    <%= f.error_notification %>
    <h2>Edit</h2>
    <div class="form-inputs">
      <%= f.input :id,
                  as: :hidden %>
      <%= f.input :phone_number,
                  required: true,
                  autofocus: true,
                  as: :integer,
                  input_html: { autocomplete: "phone_number" }%>
      
      <% if !f.object.admin? %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" }%>
        <%= f.input :avatar,
                    required: true,
                    autofocus: true,
                    as: :file %>
        <% if f.object.avatar.attached? %>            
          <%= image_tag resource.avatar, height: '200px', width: '200px'  %>
        <% end %>

        <%= f.simple_fields_for :address do |address| %>
            <%= address.input :state %> 
            <%= address.input :street %>
            <%= address.input :pincode, as: :integer  %>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Edit User", class: 'offset-5 btn btn-dark mt-3 mb-3' %>
    </div>
    
    <div class="mb-3">
       <%= link_to "back", root_path if current_user.admin? %>
    </div>
  </div>
<% end %>

